* {
    font-family: Lato, Arial, sans-serif;
    font-size: 20px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 1048px) {
    * {
        font-size: 15px;; /* shrink the main font size for smaller screens */
    }
}

h2 {
    text-align: center;
    font-size: 3rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    background-color: white;
}

h4, strong {
    text-align: center;
    font-size: 1.25rem;
    color: black;
    background-color: white;
}

h6 {
    text-align: left;
    font-size: 0.75rem;
}


/* ========= Logo and Nav =======================================*/
.header {
    display: block;
    position: fixed; /* keep header at top of screen */
    z-index: 10; /* keep in front of all other elements */
    height: 6rem;
    width: 100%;
    border-bottom: 5px solid seashell;
    /* border: 10px solid yellowgreen; /*debug*/
}

.header a {
    font-size: 1.2rem; /* menu item font size */
}

.logo {
    margin: 0 0.5rem; /* margin top and left of logo */
    width: 10rem; /* size you want the logo to be */
    float: left; /* left justify logo in header container */
    /* border: 10px solid orange;  /*debug*/
}

img {
    display: block;
    width: 90%; /* fill the .logo container with the image file width-wise */
    height: auto; /* maintain the aspect ratio by auto-sizing the height */
}

.menu {
    float: right; /* move all the menu items to right of screen */
    margin: 2.5% 1%; /* push menu options down to middle of header (top / right)*/
    list-style-type: none; /* remove bullets from UL items / menu items */
}

.menu li {
    display: inline-block; /* dont wrap menu items onto new lines */
    margin: auto 10px; /* space out the menu items using 10opx gap */
    text-decoration: underline;
}

/* =================================================================== */


/* ========= SECTION 2 :  About Us =======================================*/

.about-us-container {

    /* border: 10px solid red; /*debug*/

    display: inline-flex;
    flex-direction: column; /* ensure H2 and H4 appear above each other and not side by side */

    background-image: url("../band_on_stage.jpeg");
    /* background-image: url("../dublincastle.jpeg"); */
    background-repeat: no-repeat; /* dont tile the image if its smaller than the container */
    background-position: top; /* put image at top of container */
    background-size: cover; /* ensure background image always fills container */
    height: 30rem;
    width: 90%;
    margin-top: 3rem; /* leave a gap so main photo not under the header bar */
    align-content: center; /* centre everything in the background image */

}

.about-us {
    /* border: 10px solid orange;  /*debug*/
    /* background-color: transparent;  /* show the background image behind the text */
    display: block; /* make the text box fill the width of the screen */
    width: 90%; /* width of the Ska Face description box */
    background: none; /* make gaps between text blocks transparent */
    margin-top: 40%; /* how far from the header you want the image to start */
}

.about-us img {
    /* ska face logo */
    width: 50%; /* of the container - black box - it is in */
    margin: 0 auto; /* center the image */
}


/* ========= SECTION 2a :  experience =======================================*/

.experience-container {

    /* border: 10px solid greenyellow; /*debug*/

    display: inline-flex;
    flex-direction: column; /* ensure H2 and H4 appear above each other and not side by side */

    /* background-image: url("../stanleypark_back_of_the_crowd_view_of_the_band.jpg"); /**/
    background-image: url("../bandstand_crowd_verywide.jpg"); /**/
    background-repeat: no-repeat; /* dont tile the image if its smaller than the container */
    background-position: center; /* centre image vertically */
    background-size: cover; /* ensure background image is always fully visible */

    min-height: 35rem;
    width: 90%;
    margin: 10% 1%;
    padding: 5rem 5rem;


    /* align-items: center; /* centre everything in the background image */
    justify-content: start; /* start text box near top of photo*/
    text-align: center;
    border-bottom: 5px solid seashell;

}

/*  container with text in */
.experience {
    /* border: 10px solid orange; /*debug*/
    width: 80%; /* width of the text box */
    background: white; /* make container white as well*/
    margin-top: 1rem; /**/
}

.experience img {
    width: 75%; /* of the container - black box - it is in */
}

.experience h4, strong {
    /* border: 10px solid red;  /*debug*/
    padding: 0 10px;
}

/* =================================================================== */


/* ========= SECTION 3 : Meet the Band ============================ */


.MTB-container {
    /* border: 10px solid grey;    /* debug */
    display: inline-grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr); /* 4 rows by 3 cols */
    justify-content: space-between; /* share extra space in gaps between portraits */
    place-items: center; /* justify-items and align-items combined */
    width: 90%;
    margin: auto;
    border-bottom: 5px solid seashell;
    text-align: center; /* left center right */
}

#meet-the-band {
    /* border: 5px solid brown; /* debug */
    grid-column: 1 / span 3; /* spans top row */
    height: 15rem;
    width: 50%;
    align-content: center;
}


#meet-the-band H2 H3 H4 {
    /* border: 10px solid yellowgreen; /* debug */
    background-color: black;
    color: white;
    margin: 1rem;
}

.MTB-item {
    /* border: 5px solid green;  /* debug */
    height: 25rem;
    width: 20rem;
    margin: 1rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

/* portrait text box */
.MTB-item span {
    /* border: 5px solid aquamarine; /* debug */
    display: block;
    margin: 18rem 10%; /* distance of text from top of portrait */
    background-color: transparent;
    padding: 0;
}

/* instrument name */
.MTB-item H4 {
    /* border: 5px solid rebeccapurple; /* debug */
    margin: 0;
    background-color: black;
    color: goldenrod;
}

/* tony's portrait */
.MTB-item-Star {
    /* border: 5px solid yellow; /* debug */
    grid-area: 2 / 2 / span 2 / span 1; /* spans 2 rows in center column */
    height: 52rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

/* tony's text box */
.MTB-item-Star span {
    /* border: 5px solid blueviolet; /* debug */
    display: block;
    margin: 40rem 0 0 0; /* distance of tony's name from top */
    background-color: transparent;
    color: white;
}


/* ================ adjust for screen sizes ===================*/

@media only screen and (max-width: 1048px) {
    .MTB-container {
        /* border: 10px solid deeppink; /* debug */
        width: auto;
    }

    .MTB-item {
        width: 15rem;
        /* border: 5px solid blue; /* debug */
    }

    .MTB-item-Star {
        width: 15rem;
        margin: 1rem 1rem;
        background-size: cover;
        /* border: 5px solid darkred; /* debug */
    }

    .MTB-item span {
        /*  border: 5px solid lime; /* debug */
        margin: 18rem 0; /* position of text box in each portrait (15 from top / centered) */
    }
}

@media only screen and (max-width: 640px) {

    .MTB-container {
        /* border: 10px solid darkorange; /* debug */
        grid-template: repeat(6, 1fr) / repeat(2, 1fr); /* 6 rows by 2 cols */
    }

    #meet-the-band {
        grid-column: 1 / span 2; /*  top row now only 2 cols*/
    }

    .MTB-item, .MTB-item-Star {
        display: block;
        width: 90%;

        /* border: 5px solid green; /* debug */
    }


}

@media only screen and (max-width: 320px) {

    .MTB-container {
        /* border: 10px solid blue; /* debug */
    }

    .MTB-item, .MTB-item-Star {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        /* border: 5px solid blueviolet; /* debug */
    }
}

/* =======================================================================================*/


/* ================================== band portraits =====================================*/

#Doc {
    background-image: url("../Doc.jpg");
}

#Nick {
    background-image: url("../nick.jpg");
}

#Lynne {
    background-image: url("../lynne.jpg");
}

#JP {
    background-image: url("../JP.jpg");
}

#Tony {
    background-image: url("../tony1.jpeg"); /**/
    /* background-image: url("../tony2.jpg"); /**/
}

#fraser {
    background-image: url("../fraser.jpeg");
}


#danny {
    background-image: url("../danny.jpeg");
}


#JB {
    background-image: url("../JB.jpg");
}

#mikey {
    background-image: url("../mikey.jpeg");
}


#liz {
    background-image: url("../sophia.jpeg");
}


#dan {
    background-image: url("../little_dan.jpeg");
}


/* =================================================================== */


/* ========= SECTION 4 : Merch ============================ */

.merch-container {

    display: inline-block;

    /* background-image: url("../bandstand_scooters.jpeg"); /**/
    /* background-image: url("../bandstand_crowd_verywide.jpg"); /**/
    background-image: url("../dublincastle.jpeg"); /**/
    /* height: 40rem; /* make background image set size */
    width: 80%;
    height: 40rem;
    background-position: center; /* centre image vertically */
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    margin: 5rem 10rem;
    /* border: 5px solid yellow; /* debug */
}

.merch-container #Merch {
    /* "Merch" text box */
    margin-top: 5%; /* distance from top of background photo */
    text-align: center;
    /* border: 5px solid greenyellow; /* debug */
}


/* "visit our shop" and url container */
.merchrow {
    /* border: 5px solid green; /* debug */

    /* background: none; /* make container transparent */
    align-content: center;

    /*  move text container 25rem from top of background photo
        and have it fill the width with 0 margin either side */
    margin: 25rem 0;
}


/* individual text boxes */
.merch {
    /* border: 5px solid red; /* debug */

    display: inline-block; /* make items display side by side */
    /* width: 21rem; /* make them all a uniform width */
    background: black;
    margin: 0 20px; /* spacing between text boxes */
    color: white;
}

/* hyperlink to online shop */
a {
    font-size: 1.5rem;
    color: ghostwhite;
}

/* =================================================================== */


/* ========= SECTION 5 : trailer and copyright ============================ */

.trailer {
    /* border: 5px solid red;  /* debug */
    /*height: 200px; */
    width: 15rem;
    justify-content: center;
    display: inline-block;
}

.icon {
    /* border: 5px solid blueviolet;  /* debug */
    /*max-height: 5rem;*/
    justify-self: center;
}

.copyright h5 {
    /* border: 5px solid yellow;  /* debug */
    text-align: left;
    margin: auto;
    font-size: 0.85rem;
}

 
